body{
    background-color: #004400;
    color: goldenrod;
}

.imagen-izquierda{
    position: absolute;
    mix-blend-mode: multiply;
    width: 15%;
    height: 18%;
    top: 15px;
    transform: rotate(-20deg);
    left: 10%;
}
.imagen-derecha{
    position: absolute;
    mix-blend-mode: multiply;
    width: 15%;
    height: 18%;
    top: 15px;
    transform: rotate(20deg) scaleX(-1);
    right: 10%;
}
h1{
    color:#E6262B;
    text-align: center;
    font-size: 50px;
    margin-left:25%;
    margin-right:25%;
    padding: 10px;
    text-shadow: 
    3px 3px 5px #000000,
    4px 4px 5px black,
    5px 5px 5px black;
}

#descripcion{
    font-size: 25px;
    text-align: center;
    background-color: #000000;
    border: 2px goldenrod solid;
    border-radius: 10px;
    padding: 10px;
}
.cuadro{
    font-size: 20px;
    background-color: #000000;
    color:yellow;
    border: 2px solid goldenrod;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
    width: 20%;
    height: 200px;
    margin-bottom: 20px;
    text-align: center;
}
.cuadro label{
    line-height: 2;
}

input[type="submit"]{
    font-size: 15px;
    background-color: #F0F033;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}