body{
    text-align: center;
    background-color: #004400;
    color: yellow;
}

#dealer-cards img{
    height: 180px;
    width: 130px;
}

#player-cards img{
    height: 180px;
    width: 130px;
}

#pedir{
    height: 50px;
    width: 80px;
    font-size: 20px; 
}

#plantar{
    height: 50px;
    width: 80px;
    font-size: 20px;
}

#resultadoss{
    font-size: 32px;
    font-weight: bold;
    margin-top: 15px;
    /*color: */
}